<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable nav-title-slide-ios7 bg-second-color">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon white" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    
    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable bg-main-color no-bg-image">
            <h1 class="title menu-title brand-name white"></h1>
        </ion-header-bar>
        <ion-content overflow-scroll="true">
            <ion-list>
				<ion-item menu-close href="#/app/servicos">
                    Serviços
                </ion-item>
                <ion-item menu-close href="#/app/agendamentos">
                    Agendamentos
                </ion-item>
                <ion-item menu-close href="#/app/pets">
                    Meus Pets
                </ion-item>
                <ion-item menu-close ng-click="logout()">
                    Sair
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
	
	<ion-side-menu side="right">
        <ion-header-bar class="bar-stable bg-main-color no-bg-image">
            <h1 class="title menu-title brand-name white"></h1>
        </ion-header-bar>
        <ion-content overflow-scroll="true">
            <ion-list>
				<ion-item menu-close href="#/app/servicos">
                    Serviços
                </ion-item>
                <ion-item menu-close href="#/app/agendamentos">
                    Agendamentos
                </ion-item>
                <ion-item menu-close href="#/app/pets">
                    Meus Pets
                </ion-item>
                <ion-item menu-close ng-click="logout()">
                    Sair
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
